<h2>Modulo de Usuarios</h2>

<div class="cards">
  <div class="card">
    <div class="card-header">
      <h4>Crear nuevo catedratico</h4>
    </div>
    <form class="register_form">
      <div class="form-group">
        <label for="">Nombre del maestro</label>
        <input
          type="text"
          name="master_name"
          placeholder="Mauricio Fernandez..."
        />
      </div>

      <div class="form-group">
        <label for="">Identidad del maestro</label>
        <input
          type="text"
          name="master_identity"
          placeholder="0604-1990-01205..."
        />
      </div>

      <div class="form-group">
        <label for="">Correo del maestro</label>
        <input
          type="email"
          name="master_email"
          placeholder="mauriciofer02@hotmail.com..."
        />
      </div>

      <div class="form-group">
        <label for="">Telefono del maestro</label>
        <input type="text" name="master_phone" placeholder="9856-8952..." />
      </div>

      <div class="form-group">
        <input type="submit" value="Guardar" />
      </div>
    </form>
  </div>
</div>
