<div class="dashboard-component">
    <nav class="active">
        <div class="menu-icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="menu-items">
            <a href="#" class="menu-item">
                Inicio
            </a>

            <a href="#" class="menu-item">
                Usuarios
            </a>

            <a href="#" class="menu-item">
                Clases
            </a>

            <a href="#" class="menu-item">
                Materias
            </a>

            <a href="#" class="menu-item">
                Horarios
            </a>

            <a href="#" class="menu-item">
                Salir
            </a>
        </div>
    </nav>

    <div class="main-container">
        
    </div>
</div>
