<div class="cards">
    <div class="card">
        Information
    </div>
    <div class="card">
        Information
    </div>
    <div class="card">
        Information
    </div>
</div>

<div class="table-container">
    <h3>Clases</h3>
    <table datatable class="row-border hover" style="width: 100%;">
        <thead>
            <tr>
                <th>Clase</th>
                <th>Maestro</th>
                <th>Alumnos</th>
                <th>Hora Clase</th>
            </tr>
        </thead>
        <tbody>
           <tr>
            <td>Español</td>
            <td>Dionicio Herrera</td>
            <td>35</td>
            <td>11:00 Am</td>
           </tr>
           <tr>
            <td>Español</td>
            <td>Dionicio Herrera</td>
            <td>35</td>
            <td>11:00 Am</td>
           </tr>
           <tr>
            <td>Español</td>
            <td>Dionicio Herrera</td>
            <td>35</td>
            <td>11:00 Am</td>
           </tr>
           <tr>
            <td>Español</td>
            <td>Dionicio Herrera</td>
            <td>35</td>
            <td>11:00 Am</td>
           </tr>
           <tr>
            <td>Español</td>
            <td>Dionicio Herrera</td>
            <td>35</td>
            <td>11:00 Am</td>
           </tr>
           <tr>
            <td>Español</td>
            <td>Dionicio Herrera</td>
            <td>35</td>
            <td>11:00 Am</td>
           </tr>
        </tbody>
    </table>
    
</div>