.cards {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

.cards .card {
  width: 350px;
  max-height: 500px;
  box-shadow: 0px 0px 15px #000;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  gap: 0.3rem;
}

.cards .card .card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 22px;
}

.cards .card .card-header i {
  font-size: 62px;
  padding: 2rem;
  background-color: #888;
  border-radius: 50%;
}

.cards .card .details-button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(17, 170, 25);
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.cards .card .card-subjects{
    text-align: center;
}

.detailsShadow {
  position: absolute;
  background-color: #0000006d;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.masterDetails {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px #fff;
  border-radius: 15px;
  z-index: 3;
  overflow: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.masterDetails .masterDetails-header {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-evenly;
}

.masterDetails .masterDetails-header .operation-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-left: #000 solid 1px;
  padding-left: 2rem;
}

.masterDetails .masterDetails-header .operation-buttons .button {
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: 400;
}

.masterDetails .masterDetails-header .operation-buttons .update-button{
  background-color: #3b76eb;
  color: #fff;
}

.masterDetails .masterDetails-header .operation-buttons .update-button:hover{
  background-color: #3b76ebca;
  color: #fff;
}

.masterDetails .masterDetails-header .operation-buttons .cancel-button:hover {
  background-color: #d6d1d1ca;
  color: #fff;
}

.masterDetails .masterDetails-header .logotype {
  font-size: 85px;
}

.masterDetails .subjects-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.masterDetails .subjects-container .subject-item{
    width: max-content;
    padding: .5rem;
    background-color: #fff;
    border-radius: 8px;
    border: #000 solid 1px;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.masterDetails .subjects-container .subject-item.active{
    width: max-content;
    padding: .5rem;
    background-color: rgb(15, 149, 31);
    border-radius: 8px;
    border: #000 solid 1px;
    transition: all .4s ease-in-out;
    color: #fff;
    font-weight: 600;
}

.masterDetails .subjects-container .subject-item:hover{
    background-color: rgb(62, 198, 78);
    transition: all .1s ease-in-out;
}

.masterDetails .subjects-container .subject-item.active:hover{
    background-color: rgb(198, 62, 62);
    transition: all .1s ease-in-out;
}