<h2>Modulo de Materias</h2>

<div class="cards">
  <div class="card" *ngFor="let master of masters">
    <div class="card-header">
      <i class="fa-solid fa-user-tie"></i>
    </div>
    <h2>Información del Maestro</h2>
    <p>Nombre: {{ master.name }}</p>
    <p>Identidad: {{ master.identity }}</p>
    <p *ngIf="master.subjects.length == 0" class="warning-text">*No tiene materias asignadas todavia</p>
    <div *ngIf="master.subjects.length > 0" class="card-subjects">
      <br>
      <h4>Materias cargadas</h4>
      <p> <i class="fa-solid fa-right-long"></i> &nbsp;{{ master.subjects.length }} &nbsp;<i class="fa-solid fa-left-long"></i></p>
    </div>
    <div class="details-button" (click)="showMaster(master)">Ver detalles</div>
  </div>
</div>

<div class="detailsShadow" *ngIf="showModal()"></div>
<div class="masterDetails" *ngIf="showModal()">
  <div class="masterDetails-header">
    <div class="logotype">
      <i class="fa-solid fa-user-tie"></i>
    </div>
    <div class="master-information">
      <p>Nombre: {{ showData.name }}</p>
      <p>Identidad: {{ showData.identity }}</p>
      <p>Correo: {{ showData.email }}</p>
      <p>Telefono: {{ showData.phone }}</p>
    </div>
    <div class="operation-buttons">
      <button class="update-button button" (click)="UpdateSubjects(this.showData._id)">Actualizar</button>
      <button class="cancel-button button" (click)="closeDetails()">Canelar</button>
    </div>
  </div>
  <hr>
  <h2>Cuadro de Materias</h2>
  <div class="subjects-container">
    <div class="subject-item" (click)="appendSubject(subject._id)" [ngClass]="{'active': masterSubjects.includes(subject._id) }" *ngFor="let subject of subjects">
      {{ subject.name }}
    </div>
  </div>
</div>